.admin {
  padding-top: 100px;
  table {
    .name {
      font-size: 18px;
    }
    th {
      font-weight: $fw-3;
      padding: 25px 20px;
    }
    td {
      vertical-align: top;
      padding: 25px 20px;
    }
    img {
      max-width: 80px;
    }
  }

  .modal {
    label {
      font-weight: $fw-2;
    }

    select {
      font-size: $fs-2;
    }
  }
  #btnSearchPrd {
    cursor: pointer;
  }

  #selectSort {
    font-size: $fs-2;
  }
}
::placeholder {
  color: #b0b0b0;
  font-size: $fs-2;
}
