// utilities
@import "./utilities/variables";
@import "./utilities/mixins";

// base
@import "./base/reset";

// component
@import "./components/button";
@import "./components/card";
@import "./components/heading";

// layouts
@import "./layouts/carousel";
@import "./layouts/footer";
@import "./layouts/header";
@import "./layouts/gridContent";
@import "./layouts/cart";

// pages
@import "./pages/home";
@import "./pages/shop";

// themes
@import "./themes/admin";
