.carousel {
  .carousel-item {
    .img-main {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000;
  }
  .carousel-indicators [data-bs-target] {
    background-color: #505050;
  }
}
