footer {
  box-shadow: 0 0 10px $color-blue-3;
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
    .copyright {
      font-weight: $fw-1;
      margin: 0 20px;
    }
    .nav-foot {
      flex: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
