header {
  box-shadow: 0 0 10px $color-blue-3;
  position: fixed;
  width: 100%;
  z-index: 99;

  .navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
  }
  @include responsive("lg") {
    .navbar-nav {
      flex-direction: row;
      justify-content: center;
    }
    .navbar-collapse {
      padding-top: 20px;
    }
  }
}
.nav-link {
  font-size: 18px;
  padding: 0 20px !important;
  position: relative;

  &.active {
    &::after {
      transform: scaleX(1);
    }
  }

  &.cart {
    margin-right: 20px;
    &::after {
      content: none;
    }

    .quantity {
      position: absolute;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #575757;
      top: -10px;
      color: #fff;
      right: -2px;
      font-size: $fs-1;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background-color: $color-dark-1;
    position: relative;
    transition: all 0.3s ease;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
.logo {
  font-size: 24px;
  font-weight: $fw-3;
}
