.comp-btn {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
}

.btn-switch {
  @extend .comp-btn;
  background-color: $color-dark-1;
  color: $color-white-1;
  padding: 10px 25px;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: $color-white-1;
    color: $color-dark-1;
    border-color: $color-dark-1;
  }
}
