$color-white-1: #fff;
$color-blue-1: #1d365e;
$color-blue-2: #2a73dd;
$color-blue-3: #c9d8f4;
$color-blue-4: #2196f3;

$color-yellow-1: #f9d412;

//dark color
$color-dark-1: #000000;
$color-dark-2: #121212;
$color-dark-3: #353536;
$color-dark-4: #212121;

//font size

$fs-1: 12px;
$fs-2: 14px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 22px;
$fs-7: 24px;

//font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;
